.card {
  height: 150px;
  box-shadow: 0 0 5px #222;
  justify-content: space-between;
}
.login {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#loginSection, #logoutSection {
  display: none;
}
.alcohol {
  background-color: #FFF0AA;
}
.baby-stuff {
  background-color: #98EDED;
}
.clothes {
  background-color: #CCCCCC;
}
.electronics {
  background-color: #006699;
}
.entertainment {
  background-color: #D3649F;
}
.gifts {
  background-color: #99CC99;
}
.home-upgrades {
  background-color: #FFC3CE;
}
.junk-food {
  background-color: #FFCC99;
}
.makeup {
  background-color: #C3C3E5;
}
