header {
  display: grid;
  background-color: bisque;
  grid-template-columns: 200px 1fr 100px;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

.brand {
  text-decoration: none;
}

.brand:hover {
  color: royalblue;
  background-color: transparent;
}

nav a {
  margin: 0 1rem;
}
